@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    margin: 0;
    left: 0;
    top: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1080px;
    height: 100vh;
    background: #e6e6e642;
    border-radius: 8px;
}

.sidebar__left{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
}

.sidebar__left .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 316px;
    padding: 24px 8px 8px 8px;
}

.sidebar__left .header img{
    border-radius: 8px;
    width: 180px;
    height: 200px;
}

.sidebar__left .header h1{
    padding-top: 16px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.sidebar__left .page{
    height: 100%;
}

.sidebar__left .page .block{
    padding: 10px;
}

.sidebar__left .page .block .item{
    display: flex;
    flex-direction: column;
}

.sidebar__left .page .block .item span{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 14px;
}

.sidebar__left .page .block .item a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.sidebar__left .page .block .item a:hover{
    color: red;
    font-weight: 600;
}

.sidebar__left .footer{
    height: 50px;
}

.sidebar__right{
    width: calc(1080px - 250px);
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-left: 2px solid #fff;
}

.sidebar__right hr{
    border: 1px solid #fff;
}

.sidebar__right .header{
    display: flex;
    flex-direction: column;
    height: 90px;
    padding: 24px 16px 8px 16px;
}

.sidebar__right .header h1{
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.sidebar__right .header span{
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
}

.sidebar__right hr{
    margin-top: 10px;
}

.sidebar__right .page {
    height: 100%;
    padding: 8px 16px;
    overflow: auto;
}

.sidebar__right .page hr {
    border: 1px solid #fff;
    margin-top: 10px;
}

.sidebar__right .page .introduce{
    display: flex;
    flex-direction: column;
}

.sidebar__right .page .introduce ul{
    list-style: none;
    padding: 0;
}

.sidebar__right .page .introduce ul li span{
    font-size: 14px;
}

.sidebar__right .page .list-item{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.sidebar__right .page .list-item .item:first-child{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.sidebar__right .page .list-item .item:last-child{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.sidebar__right .page .list-item .item .title{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar__right .page .list-item .item .name{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
}

.sidebar__right .page .list-item .item .year{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.sidebar__right .page .list-item .item .job{
    font-size: 16px;
    text-transform: capitalize;
    /* font-weight: 500; */
}

.sidebar__right .page .list-item .item .child-item{
    margin: 10px 0;
}

.sidebar__right .page .list-item .item .child-item ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar__right .page .list-item .item .child-item ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar__right .page .list-item .item .child-item ul li#text{
    width: 500px;
}

.sidebar__right .page .list-item .item .child-item ul li i{
    width: 20px;
}

.sidebar__right .page .list-item .item .child-item .title{
    font-size: 18px;
}

.sidebar__right .page .exp{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.sidebar__right .page .exp .title{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar__right .page .exp ul{
    list-style: none;
}

.sidebar__right .page .exp ul li{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar__right .page .exp ul li i{
    width: 20px;
}

.sidebar__right .page .work-experience .title{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar__right .page .work-experience{
    margin: 20px 0;
}

.sidebar__right .page .work-experience .item{
    display: flex;
    flex-direction: row;
}

.sidebar__right .page .work-experience .item .year{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.sidebar__right .page .work-experience .item .year .year-item, .sidebar__right .page .work-experience .item .year .name-company, .sidebar__right .page .work-experience .item .job .job-name{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.sidebar__right .page .work-experience .item .name-company a{
    text-decoration: none;
    color: #000;
}

.sidebar__right .page .work-experience .item .name-company a:hover{
    color: red;
}

.sidebar__right .page .work-experience .item .job{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.sidebar__right .page .work-experience .item .job ul{
    list-style: none;
    padding-left: 60px;
}

.sidebar__right .page .work-experience .item .job ul li{
    display: flex;
    align-items: center;
}

.sidebar__right .page::-webkit-scrollbar{
    display: none;
}

.sidebar__right .footer {
    margin: 0;
    text-align: right;
    padding: 0 16px;
    height: 30px;
    margin: 8px 0 0 0;
}

.sidebar__right .footer span, 
.sidebar__right .footer a{
    font-size: 12px;
}

